*{
    margin:0 auto;
    padding:0 auto;
    box-sizing: border-box;
    transition: .6s ease-in;
}

.main_container{
    width: 100%;
    height: 100vh;
}

.container{
    max-width: 1170px;
    height: 736px;
    margin: 0 auto;
}

/* ===================================== */

.header {
    margin-top: 70px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 5px;
}

.h-line{
    width:45px; 
    margin:auto;
    margin-top: 21px;
}

.sub_header {
    margin: 40px 0;
}

/* ===================================== */

.card {
    cursor:pointer;
    width: 270px;
    height: 270px;
    
}

.front,
.back{
    width:100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position:absolute;
    transition: transform(.6s linear);
}

.front img {
    height: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #2CA8C6;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

/* ===================================== */

.back-content {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    display:flex;
}

.icon-cover {
    width: 42px;
    height: 42px;
    margin:0 5px;
    background-color: #5ECBE7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-cover > a {
    color:#fff;
}

.icon-cover > a:hover {
    color:#fff;
}

/* ===================================== */

.name{
    display:block;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center; 
}

.prof{
    display:block;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    text-align: center;
}


